<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% if device_list %}
<ul>
    <p>현재 {{ device_list.count }} 개의 기기가 등록되어 있습니다.</p>
</ul>
{% else %}
<p>No devices are Available.</p>
{% endif %}

<h1>Push Notification Admin</h1>
<form method='POST' action='/admin/push'>
    {% csrf_token %}
    <input type="text" name="message" placeholder="푸시 보낼 메세지를 입력하세요" size="60">
    <input type="submit" name='send_push' value="send push-noti">
</form>

</body>
</html>

